<div
	class="e-con e-atomic-element {{ base_styles.base }} {{ editor_classes | default('') }} {{ settings.classes | default([]) | join(' ') }}"
	role="tablist"
	{% if settings._cssid %}id="{{ settings._cssid }}"{% endif %}
	data-e-type="e-tabs-menu"
	data-element_type="e-tabs-menu"
	data-id="{{ id }}"
	{{ editor_attributes | default('') | raw }}
	{{ settings.attributes | default('') | raw }}
>
	{% for type, type_children in children %}
		{% for child_html in type_children %}
			{{ child_html | raw }}
		{% endfor %}
	{% endfor %}
</div>

