<div
	class="e-con e-atomic-element {{ base_styles.base }} {{ editor_classes | default('') }} {{ settings.classes | default([]) | join(' ') }}"
	{% if settings._cssid %}id="{{ settings._cssid }}"{% endif %}
	data-e-type="e-tabs-content-area"
	data-element_type="e-tabs-content-area"
	data-id="{{ id }}"
	{{ editor_attributes | default('') | raw }}
	{{ settings.attributes | default('') | raw }}
>{{ children_placeholder | default('') | raw }}</div>

